
<style>
* {
  box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;
background:WhiteSmoke;}
input{
border:none;}
.input-field {
 padding: 10px;
  outline: none;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 70%;
  margin-bottom: 15px;
  border-bottom:3px solid #D3D3D3;
}
.btn {
  background-color:DodgerBlue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  align:center;
 
}

.box {
  width:auto;
  padding:50px;
  margin: 50px;
  background:white;
  border-radius:20px;
  box-shadow:5px 10px 18px #888888;}
  
.flex-container{
display:ms-flexbox;  
  display:flex;
  flex-direction:row;
  flex-flow: row wrap;}
  
  .flex-container > div {
  
  line-height: 50px;
  font-size: 20px;
  width: 50%;
}

.a{
float:right;
 width:100%;
 font size:20px;}
 

</style>
