
}
a{
    color: black;
}
.container img{
    width: 470px;
   
    float: right;
}
button{
    color: white;
    background-color: rgb(14, 21, 237);
    font-weight: 370;
    font-size: medium;
    padding: 12px 17px;
    border-radius: 6px;
}
input[type="text"],input[type="password"]{
    width:350px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border: 1px white;
    padding-left: 5px;
    border-bottom: 1px solid rgb(233, 230, 230);
}
.container footer{
   margin-left: 540px  ;
}
.container{
    width: 860px;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 5%;
    box-shadow: 5px;
    padding: 73px 5px 75px 75px;
    border: 1px solid rgb(233, 230, 230);
    box-shadow: 7px 7px 7px 7px rgb(218, 213, 213);

   
    