
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#fff;
}
body.dark{
    background: rgb(32, 31, 31);
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMG-20210304-WA0024\ \(2\).jpg);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid rgba(80, 186, 228, 0.3);
  /* box-shadow: 0 -15px 15px rgba(86, 174, 233, 0.5),
               inset 0 -15px 15px rgba(80, 186, 228, 0.5),
               0 15px 15px rgba(148, 212, 238, 0.3),
               inset 0 15px 15px rgba(139, 185, 206, 0.3);*/
    box-shadow: 0 0 40px rgb(41, 160, 230);
    

}
body.dark .clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMG-20210304-WA0023.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.3);
   box-shadow: 0 -15px 15px rgba(71, 71, 235, 0.5),
               inset 0 -15px 15px rgba(61, 58, 226, 0.5),
               0 15px 15px rgba(0, 0, 0, 0.3),
               inset 0 15px 15px rgba(0, 0, 0, 0.3);
  /*box-shadow: 0 0 40px rgb(71, 71, 235);*/


}
.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #525151;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: rgb(63, 62, 62);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #8b8a8a;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
.toggleClass{
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: black;
    color: rgb(24, 138, 204);
    cursor: pointer;
    display: flex;
    align-items: center;

}
.toggleClass:before{
    position: absolute;
    left: 25px;
    content: 'Change Mode';
    white-space: nowrap;
}
/*.switch {
    position: relative;
    left: 100vh;
    bottom: 300px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders 
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;*/
  
/*.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);

}
.box:before,
.box:after{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}