.jumbotron{
    background-color:rgb(207, 195, 206);
}
h1{
   font-size: 60px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.jumbotron p{
    font-size: 20px;
}
.row img{
    width: 100%;
    background-color:rgb(228, 225, 227);
}
