*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato','Ariel','sans-serif';
}

html,
body{
    background-color: #e2e2e22e;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 65%; 
    background-color: #fff;
    border-radius: 40px;
    box-shadow:7px 7px 50px rgb(170, 167, 167);
}


.text1{
    margin-top: 60px;
    margin-left: 75px;
    margin-bottom: 0px;
    font-size: 300%;
    font-style: normal;
    color: #000;
    word-spacing: 4px;
    font-weight: 700;
}

.contact-form{
    width: 90%;
    padding: 40px;
    margin:0px 0;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.contact-form .box{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.contact-form .box input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(148, 142, 142);
    outline: none;
}

.contact-form .box span{
    position: absolute; 
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5%;
    color: #666;
    margin: 5px 0;
}

.contact-form .box input[type="submit"]{
    width: 120px;
    background: rgb(74, 74, 252);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 25px;
    padding: 15px 30px;
    border-radius: 5px;
}

.contact-form .box i{
    margin-left: 10px;
    margin-right: 10px;
}

.main-img{
    width: 550px;
    height: 450px;
    display: flex;
    margin-left: -60px;
    margin-top: -70px;

}

.contact-form .chk{
    font-size: 90%;
    margin-top: 5px;
    font-weight: 300;
    align-items: baseline;
}

a{
    font-weight: 300;
    text-decoration: underline;
    font-size: 100%;
    color: #000;
}
.contact-form [type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    border-color: #666;
}
.link{
    margin-left: 0px;
    margin: -20px 70px 20px 0 ;
    text-align: center;
}

/* 
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color:   #e67e22;
    font-size: 120%;
    margin-right: 10px;

    secret to align text and icon
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
} */

/* .contact-form .box input:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
} */
